.connect {
  padding-bottom: 244px;
}

.connect__inner {
  width: 100%;
  max-width: 1463px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.connect__content {
  width: 100%;
  max-width: 998px;
  padding: 62px 0 74px 166px;
  background-image: url("../images/feedback-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #333333;
}

.connect__desc {
  width: 375px;
}

.connect__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
}

.connect__text {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.connect__input {
  display: block;
  width: 375px;
  margin-bottom: 14px;
  padding: 16px 0 13px 22px;
}

.connect__input::placeholder {
  opacity: 0.5;
}

.connect__input:required {
  outline: none;
  color: #dc4d41;
  border: 2px solid #dc4d41;
  border-radius: 5px;
  opacity: 1;
}

.connect__input:focus {
  outline: #ffbd54;
  color: #333333;
  border: 2px solid #ffbd54;
  border-radius: 5px;
  opacity: 1;
}

#textarea {
  display: block;
  width: 375px;
  resize: none;
  margin-bottom: 30px;
  padding: 16px 0 13px 22px;
}

#textarea::placeholder {
  opacity: 0.5;
}

.textarea__span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.connect__button {
  display: inline-block;
  padding: 15px 49px 14px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #ffbd54;
  border-radius: 0px;
}

.connect__button:hover {
  color: #ffbd54;
  background: #333333;
}

.connect__button:active {
  opacity: 0.6;
}
